@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap");
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "./variables.scss";
@import "./common.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
  background: $dark-1;
  color: $grey-1;
}

body {
  margin: 0;
  font-size: 1.6rem;
}
