$primary_font_family: 'Source Sans Pro', sans-serif;

$primary-color: #86CF86;
$primary-color-dark: #2D682D;

$grey-1: #D3D0C9;
$grey-2: #e8e6e34d;
$grey-3: #e8e6e399;
$grey-4: #bab5ab;
$grey-5: #3c4042;
$grey-6: #6666661a;

$dark-1: #181A1B;
$dark-2: #1c1d1f;

$screen-xs: 576;
$screen-sm: 768;
$screen-md: 992;
$screen-lg: 1200;
