$primary_font_family: "Source Sans Pro", sans-serif;
$title_font_family: "Titillium Web", sans-serif;

$primary-color: #86CF86;
$primary-color-dark: #2D682D;

$grey-1: #D3D0C9;
$grey-2: #e8e6e34d;
$grey-3: #e8e6e399;
$grey-4: #bab5ab;
$grey-5: #3c4042;
$grey-6: #6666661a;
$grey-7: #303336;

$dark-1: #181A1B;
$dark-2: #1c1d1f;

$red-1: #ca8686;
$red-2: #763333;
$red-3: #682d2d;

$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
